<%- include ('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/homepage"><span class="text-danger">Stress</span><span class="text-primary">Busters</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link " href="">Planner</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i> <%= userDetails.name %>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
            
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">

        </div>
        <div class="col-md-4 v-divider ml-2">
            <h2>Top Discussions</h2>
                <input type="text" id="searchBar" name="title" onkeyup="keyUpFunc()" class="form-control mb-2" placeholder="Search Companies">
            
                <% var cnt=0 
			    discussions.forEach(function(discussion){%> 
                    <div class="card mb-2" id="<%= discussion.id %>">
                        <div class="card-header">
                            <%= discussion.Company %>
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p><%= discussion.Answer %></p>
                            <footer class="blockquote-footer">Anonymous<cite title="Source Title"></cite></footer>
                          </blockquote>
                        </div>
                    </div>
			<% cnt++;
		}); %>
            
            
            
        </div>
    </div>

</div>

<script>
    var data = <%- JSON.stringify(userDetails) %>;
    var discussions = <%- JSON.stringify(discussions) %>;
    console.log(discussions[0])
    var interval = parseInt(data.screentime) * 1000 * 2
    var breaktime = data.breaktime
    setInterval(function() { alert("You have worked continuously for " + data.screentime + "hrs consider taking a break for " + breaktime + " minutes"); }, interval);
    cnt = 0
    discussions.forEach(function(discussion) {

        if(cnt < 4) {
            document.getElementById(discussion.id).style.display = "block";
    
        }
        else {
            document.getElementById(discussion.id).style.display = "none";
        }
        cnt += 1
    })

    function keyUpFunc() {
		input = document.getElementById('searchBar');
  		filter = input.value.toUpperCase();
        cnt = 1
		discussions.forEach(function(discussion) {
            
			if(discussion.Company.toUpperCase().indexOf(filter) > -1) {
                    if(cnt > 4) {
                        document.getElementById(discussion.id).style.display = "none";
                    }
                    else {
                        document.getElementById(discussion.id).style.display = "block";
                        cnt += 1
                    }
				
			}
           
			else {
				document.getElementById(discussion.id).style.display = "none";
			}
		})
	}
</script>

<%- include ('partials/footer') %>