<%- include ('../partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/homepage"><span class="text-danger">Stress</span><span class="text-primary">Busters</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link " href="/planner">Planner</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i> <%= userDetails.name %>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/work"><i class="bi bi-briefcase"></i> Work</a></li>
                  <li><a class="dropdown-item" href="/life"><i class="bi bi-person-square"></i> Life</a></li>
                  <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                </ul>
              </div>
            
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
        <div id='calendar' class="col-md-8 bg-white">

        </div>
        <div class="col-md-4 v-divider ml-2">
            <h2>Top Discussions</h2>
                <input type="text" id="searchBar" name="title" onkeyup="keyUpFunc()" class="form-control mb-2" placeholder="Search Companies">
            
                <% var cnt=0 
			    discussions.forEach(function(discussion){%> 
                    <div class="card mb-2" id="<%= discussion._id %>">
                        <div class="card-header">
                            <%= discussion.Company %>
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p><%= discussion.Answer %></p>
                            <footer class="blockquote-footer">Anonymous<cite title="Source Title"></cite></footer>
                          </blockquote>
                        </div>
                    </div>
			<% cnt++;
		}); %>   
            <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#addreviewmodal">
                Add Review
              </button>
            
      
          
          <!-- Modal -->
          
        
    </div>
    <div class="modal  fade" id="addreviewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Review</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="my-login-validation" action='/addReview' novalidate="">
                    <div class="row mt-2">
                        <div class="col">
                            <label for="Company">Company</label>
                            <input id="company" name="company" type="text" class="form-control" required autofocus>
                            <div class="invalid-feedback">
                                Company
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="comments">Review</label>
                            <textarea class="form-control" name="review" id="review" placeholder="Enter Review" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="form-group mt-2 d-grid">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

          initialView: 'timeGridWeek',
          // initialDate: '2022-11-12',
          nowIndicator: true,
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
          },
          navLinks: false, // can click day/week names to navigate views
          editable: false,
          selectable: false,
          selectHelper: true,
          selectMirror: true,
          dayMaxEvents: true,

          nextDayThreshold: "00:00:00", 
          events: [
            { 
            groupId: 101,
            title: 'Client Meeting', 
            daysOfWeek: ['2','4'],
            startTime: '08:00:00', 
            endTime: '09:00:00', 
            // start: '2022-11-11T08:00:00', 
            // end: '2018-11-11T09:00:00', 
            description: 'Meeting with Client',
            color: '#E41A32'

        },

        { 
            groupId: 102,
            title: 'Team Meeting', 
            daysOfWeek: ['1','3', '5'],
            startTime: '15:00:00', 
            endTime: '16:00:00', 
            // start: '2022-11-11T08:00:00', 
            // end: '2018-11-11T09:00:00', 
            description: 'Meeting with Client',
            color: '#E41A32'

        },

        { 
            groupId: 102,
            title: 'Team Meeting', 
            daysOfWeek: ['2'],
            startTime: '13:00:00', 
            endTime: '14:00:00', 
            // start: '2022-11-11T08:00:00', 
            // end: '2018-11-11T09:00:00', 
            description: 'Meeting with Client',
            color: '#E41A32'

        },

        { 
            groupId: 102,
            title: 'Project Meeting', 
            daysOfWeek: ['1'],
            startTime: '11:00:00', 
            endTime: '12:00:00', 
            // start: '2022-11-11T08:00:00', 
            // end: '2018-11-11T09:00:00', 
            description: 'Meeting with Client',
            color: '#E41A32'

        },
        
        { 
            groupId: 102,
            title: 'Project Meeting', 
            daysOfWeek: ['5'],
            startTime: '11:30:00', 
            endTime: '12:30:00', 
            // start: '2022-11-11T08:00:00', 
            // end: '2018-11-11T09:00:00', 
            description: 'Meeting with Client',
            color: '#E41A32'

        },
        
        { 
            // groupId: 'blueEvents'
            title: 'Yoga', 
            daysOfWeek: ['1','3','5','6'],
            startTime: '06:30:00', 
            endTime: '07:00:00', 
            // start: '2022-11-11T16:30:00', 
            // end: '2018-11-11T17:00:00', 
            description: 'Do Power Yoga',
            color: '#5B2684'
        },

        { 
            // groupId: 'blueEvents'
            title: 'Cycling', 
            daysOfWeek: ['0','2','4'],
            startTime: '17:30:00', 
            endTime: '18:30:00', 
            // start: '2022-11-11T16:30:00', 
            // end: '2018-11-11T17:00:00', 
            description: 'Do Power Yoga',
            color: '#5B2684'
        },

        {
          title: 'Sleep', 
          daysOfWeek: ['0','1','2','3','4'],
          startTime: '22:30:00', 
          endTime: '06:00:00', 
          color: '#808080',
          // nextDayThreshold: "00:00:00", 

        },

        {
          title: 'Sleep', 
          daysOfWeek: ['5','6'],
          startTime: '23:30:00', 
          endTime: '08:00:00', 
          color: '#808080',
          // nextDayThreshold: "00:00:00", 

        },


        {
          title: 'Lunch', 
          daysOfWeek: ['1','2','3','5'],
          startTime: '12:30:00', 
          endTime: '13:30:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        {
          title: 'Team Lunch', 
          daysOfWeek: ['4'],
          startTime: '12:30:00', 
          endTime: '14:00:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        {
          title: 'Lunch', 
          daysOfWeek: ['6','0'],
          startTime: '13:00:00', 
          endTime: '14:00:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        {
          title: 'Dinner', 
          daysOfWeek: ['0','1','2','3','4','5','6'],
          startTime: '20:00:00', 
          endTime: '21:00:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        {
          title: 'Breakfast', 
          daysOfWeek: ['1','2','3','4','5'],
          startTime: '07:00:00', 
          endTime: '07:30:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        {
          title: 'Breakfast', 
          daysOfWeek: ['6','0'],
          startTime: '8:30:00', 
          endTime: '09:30:00', 
          color: '#1DAADB',
          // nextDayThreshold: "00:00:00", 

        },
        
    ],
    
    });
        
        calendar.render();
      });
    var data = <%-JSON.stringify(userDetails) %>;
    
    var discussions = <%-JSON.stringify(discussions)%>;
    
    console.log(discussions[0])
    var interval = parseInt(data.screentime) * 1000 * 2
    var breaktime = data.breaktime
    setTimeout(function() { alert("You have worked continuously for " + data.screentime + "hrs consider taking a break for " + breaktime + " minutes"); }, interval);
    cnt = 0
    discussions.forEach(function(discussion) {

        if(cnt < 4) {
            document.getElementById(discussion._id).style.display = "block";
    
        }
        else {
            document.getElementById(discussion._id).style.display = "none";
        }
        cnt += 1
    })

    function keyUpFunc() {
		input = document.getElementById('searchBar');
  		filter = input.value.toUpperCase();
        cnt = 1
		discussions.forEach(function(discussion) {
            
			if(discussion.Company.toUpperCase().indexOf(filter) > -1) {
                    if(cnt > 4) {
                        document.getElementById(discussion._id).style.display = "none";
                    }
                    else {
                        document.getElementById(discussion._id).style.display = "block";
                        cnt += 1
                    }
				
			}
           
			else {
				document.getElementById(discussion._id).style.display = "none";
			}
		})
	}

</script>

<%- include ('../partials/footer') %>
