<%- include ('../partials/header') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/homepage"><span class="text-danger">Stress</span><span class="text-primary">Busters</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link " href="/planner">Planner</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i> <%= data.name %>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/work"><i class="bi bi-briefcase"></i> Work</a></li>
                  <li><a class="dropdown-item" href="/life"><i class="bi bi-person-square"></i> Life</a></li>
                  <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                </ul>
              </div>
            
        </div>
    </div>
</nav>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="col-md-12">
                <div class="brand">
                    <img src="img/logo.PNG" alt="bootstrap 4 login page">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title" align="center"><b>Life Details</b></h4>
                        <!-- <h4 class="card-title">Life Details</h4> -->
                        <form method="POST" class="my-login-validation" action="/update_details/<%= data._id %>?_method=PUT">
            
                            <div class="row">
                                <div class="col">
                                    <label for="family"> Family</label>
                                    <select class="form-select mt-1" name="familydetails" id="family" aria-label="Default select example" onchange="disable('family', 'kids')" required>
                                        <option selected>Select</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                
                                <input type="hidden" id= 'username' name='username' value='<%= data.username %>'>
                                <input type="hidden" id='name' name='name' value='<%= data.name %>'>
                                <input type="hidden" name='password' name='password' value='<%= data.password %>'>
                                <input type="hidden" id= 'profession' name='profession' value='<%= data.profession %>'>
                                <input type="hidden" id='screentime' name='screentime' value='<%= data.screentime %>'>
                                <input type="hidden" id='company' name='company' value='<%= data.company %>'>
                                <input type="hidden" id='breaktime' name='breaktime' value='<%= data.breaktime %>'>
                                <input type="hidden" id='position' name='position' value='<%= data.position %>'>
                                <input type="hidden" id='worktime' name='worktime' value='<%= data.worktime %>'>
                                <input type="hidden" id='techs' name='techs' value='<%= data.techs %>'>
                                <input type="hidden" id='comments_work' name='comments_work' value='<%= data.comments_work %>'>
                                <div class="col">
                                    <label for="leisuretime">Leisure Time</label>
                                    <input id="leisuretime" type="number" min="0" class="form-control mt-1" value="<%= data.leisuretime %>" placeholder="in Hrs" name="leisuretime" required autofocus>
                                    <div class="invalid-feedback">
                                        Please provide leisure time
                                    </div>
                                </div>
                            </div>

                            &nbsp;

                            <div class="row">
                                <div class="col">
                                    <label for="kids">No of Kids</label>
                                    <input id="kids" type="number" min="0" value="<%= data.kids %>" class="form-control mt-1" name="kids">
                                </div>
                                <!-- <div class="invalid-feedback">
                                    Invalid email
                                </div> -->
                                <div class="col">
                                    <label for="sleeptime">Sleep Time</label>
                                    <input id="sleeptime" type="number" min="0" value="<%= data.sleeptime %>" class="form-control mt-1" placeholder="in Hrs" name="sleeptime" required autofocus>
                                </div>
                            </div>

                            &nbsp;

                            <div class="row">
                                <div class="col">
                                    <label for="hobbies">Hobbies</label>
                                    <select class="form-select mt-1" name="hobbies" value="<%= data.hobbies %>" id="hobbies" aria-label="Default select example">
                                        <option selected disabled hidden>Select</option>
                                        <option value="Basketball">Basketball</option>
                                        <option value="Photography">Photography</option>
                                        <option value="Reading">Reading</option>
                                    </select>
                                  
                                </div>

                                <div class="col">
                                    <label for="comments">Comments</label>
                                    <textarea class="form-control mt-1" name="comments_life" id="comments_life" placeholder="Details related to schedule" aria-label="With textarea"><%= data.comments_life %></textarea>
                                </div>
                            </div>

                            &nbsp;


                            <div class="form-group mt-2 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
   function disable(select_val,input_id) {
                var e = document.getElementById(select_val);
                var strUser = e.options[e.selectedIndex].value;
                if(strUser === "Yes"){
                    document.getElementById(input_id).disabled = false;
                }
                else{
                    document.getElementById(input_id).value = document.getElementById(input_id).defaultValue;
                    document.getElementById(input_id).disabled = true;
                }
}
</script>

<%- include ('../partials/footer') %>
