<%- include ('../partials/header') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/homepage"><span class="text-danger">Stress</span><span class="text-primary">Busters</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link " href="/planner">Planner</a></li>
                <li class="nav-item"><a class="nav-link " href="/reviews"> My Reviews</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i> <%= data.name %>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/work"><i class="bi bi-briefcase"></i> Work</a></li>
                  <li><a class="dropdown-item" href="/life"><i class="bi bi-person-square"></i> Life</a></li>
                  <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                </ul>
              </div>
            
        </div>
    </div>
</nav>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="col-md-12">
                <div class="brand">
                    <img src="img/logo.PNG" alt="StressBusters">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <!-- <h4 class="card-title" align="center"><b>Welcome to Stressbusters!</b></h4> -->
                        <h4 class="card-title" align="center"><b>Work Details</b></h4>
                        <form method="POST" class="my-login-validation" action="/update_details/<%= data._id %>?_method=PUT" >
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="profession">Profession</label>
                                    <input id="profession" name="profession" value="<%= data.profession %>" type="text" class="form-control" name="profession" required autofocus>
                                    <div class="invalid-feedback">
                                        Please enter your profession
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="screentime">Screen Time</label>
                                    <input id="screentime" name="screentime" max="24" type="number" value="<%= data.screentime %>" oninput="validity.valid||(value='');" class="form-control" name="screentime" required autofocus>
                                    <div class="invalid-feedback">
                                        Please enter the screen time in hours
                                    </div>
                                </div>
                            </div>
                            
                            <input type="hidden" id= 'username' name='username' value='<%= data.username %>'>
                            <input type="hidden" id='name' name='name' value='<%= data.name %>'>
                            <input type="hidden" name='password' name='password' value='<%= data.password %>'>
                            <input type="hidden" id= 'familydetails' name='familydetails' value='<%= data.familydetails %>'>
                            <input type="hidden" id='leisuretime' name='leisuretime' value='<%= data.leisuretime %>'>
                            <input type="hidden" id='kids' name='kids' value='<%= data.kids %>'>
                            <input type="hidden" id='sleeptime' name='sleeptime' value='<%= data.sleeptime %>'>
                            <input type="hidden" id='hobbies' name='hobbies' value='<%= data.hobbies %>'>
                            <input type="hidden" id='comments_life' name='comments_life' value='<%= data.comments_life %>'>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="company">Company Name</label>
                                    <input id="company" name="company" type="text" value="<%= data.company %>" class="form-control" name="company">
                                </div>
                                <div class="col">
                                    <label for="breaktime">Break Time</label>
                                    <input id="breaktime" name="breaktime" type="number" value="<%= data.breaktime %>" oninput="validity.valid||(value='');" class="form-control" placeholder="in min" name="breaktime" required autofocus>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="position">Position</label>
                                    <input id="position" name="position" type="text" value="<%= data.position %>" class="form-control" name="position">
                                </div>
                                <!-- <div class="invalid-feedback">
                                    Invalid email
                                </div> -->
                                <div class="col">
                                    <label for="worktime">Daily working hours</label>
                                    <input id="worktime" name="worktime" max="24" type="number" value="<%= data.worktime %>" oninput="validity.valid||(value='');" class="form-control" name="worktime" required autofocus>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="techs">Tools & Technology</label>
                                    <select class="form-select" name="techs" id="techs" aria-label="Default select example">
                                        <option selected disabled hidden>Please select</option>
                                        <option value="C++">C++</option>
                                        <option value="Python">Python</option>
                                        <option value="Java">Java</option>
                                    </select>
                                        </div>
                                        <!-- <div class="invalid-feedback">
                                            Invalid email
                                        </div> -->
                                        <div class="col">
                                            <label for="comments">Comments</label>
                                            <textarea class="form-control" name="comments_works"  id="comments_works" placeholder="Details related to schedule" aria-label="With textarea"><%= data.comments_works %></textarea>
                                        </div>
                                    </div>
                                </div>

                            <div class="form-group mt-2 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    var data = <%-JSON.stringify(data) %>;
    console.log(data.techs)
    $("#techs").val(data.techs);
});

    </script>
    
<!-- <script>
window.onload = function(){
    var country = document.getElementById("techs");
    country.options[country.options.selectedIndex].setAttribute("selected", "selected");
}
    function validateForm() {
        let x = document.forms["myForm"]["fname"].value;
        if (x == "") {
            alert("Name must be filled out");
            return false;
        }
    }
</script> -->
<%- include ('../partials/footer') %>
